.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    background: none;
    border:1px solid gray;
    border-radius: 40px;
    height: 50px;
    width: 50%;
    display: flex;
}

.search-text {
    padding-left: 5%;
    width: 100%;
    font-size:large;
    background: none;
    border: none;
    outline: none;
}

.search-btn {
    color: gray;
    background: none;
    border: none;
    outline: none;
    float: right;
    padding-right: 5%;
}

.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-btn {
    color: gray;
    padding-left: 20px;
}

.title {
    color:gray;
    font-size: 40px;
}

.main-container {
    display: flex;
}

.map {
    float: left;
    width: 100%;
}

.popover-body {
    min-width: 276px;
}