<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TouristWatch</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta charset="utf-8">

	<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename = '../static/styles.css') }}" type="text/css">
	<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
  	<script type="module" src="{{ url_for('static', filename = '../static/main.js') }}"></script>
	<script
	src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>
</head>
<div class="header">
	<t class="title">TouristWatch</t>
	<a class="header-btn" href="/">Home</a>
	<a class="header-btn" href="/login">Login</a>
	<div class="search-bar-container">
		<div class="search-bar">
			<input class="search-text" type="text" placeholder="Enter place name" id="search_entry">
			<button class="search-btn" id="search_btn">Go</button>
		</div>
	</div>
</div>
<br>
<body id="map_body">
  <div id="map" style="width: 100vw; height: 100vh;"></div>
</body>
</html>